<div class="div-login">
  <form class="form-login" #myForm="ngForm" (ngSubmit)="onSubmit(myForm.value)" novalidate>
    <font color="blue">   
       <h1 class="h3 mb-3 font-weight-normal">Welcome to E-Mart</h1>
    </font>
    <h3 class="h2 mb-2 font-weight-normal">Please login your account</h3>
    <label for="inputUsername" class="sr-only">Name: </label>
    <input ngModel name="name" type="text" id="inputUsername" class="form-control" placeholder="User Name" required="required">
    <br>
    <br>
    <label for="inputPassword" class="sr-only">Password: </label>
    <input ngModel name="password" type="password" id="inputPassword" class="form-control" placeholder="Password"  required="required">
    <br>
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">login</button>
  </form>
</div>
